@import url(https://fonts.googleapis.com/css?family=Slackey);


body{
  font-size: 30px;
  font-family: 'Slackey';
  color: #333;
  font-weight: 300;
  text-align: center;
  background-image: url('sea.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1{
  font-weight: 300;
  margin: 0px;
  padding: 20px;
  font-size: 40px;
  background-color: #DAA520;
  color: #F0E68C;
}

/* unvisited link */
a:link {
  color: #F0E68C;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #F0E68C;
  text-decoration: none;
}

.sidebar {
  height: 100%;
  width: 250px;
  position: absolute;
  top: 0;
  padding-top: 35px;
  background-color: #DAA520;
  color: #F0E68C;
}

.sidebar div {
  padding: 10px;
  font-size: 24px;
  display: block;
}

.welcome {
	font-size: 30px;
}
